docker/
docker-compose.yml

packages/**/node_modules

packages/back-end/coverage
packages/back-end/.env
packages/back-end/.env.test
packages/back-end/database.sqlite
packages/back-end/package-lock.json

packages/front-end/.next
packages/front-end/.env.local
packages/front-end/package-lock.json
